body {
    background-color: skyblue;


}

* {
    box-sizing: border-box;
}

#bodyID {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#center {
    display: flow;
    
    align-content: space-evenly;
    background-color: skyblue;
    height: 400px;
}

#Lmiddle {
    background-color: whitesmoke;
    height: 100px;
    width: 50%;
    color: black;
    font-size: xxx-large;
    text-align: center;
    font-family: fantasy;
}


#Rmiddle {
    background-color: #383c3780;
    height: 100px;
    width: 50%;
    float: right;
    color: white;
    font-size: xxx-large;
    text-align: center;
    font-family: fantasy;
}

#RTop {

    background-color: whitesmoke;
    height: 100px;
    width: 50%;
    float: right;
    color: black;
    font-size: xxx-large;
    text-align: center;
    font-family: fantasy;
}

#LTop {
    background-color: #383c3780;
    height: 100px;
    width: 50%;
    color: white;
    font-size: xxx-large;
    text-align: center;
    font-family: fantasy;

}

.colorToggle {
    background-color: #000000f0;
    color: white;

    #header,
    .footer {
        background-color: #100f12;
    }

    #center {
        background-color: #000000f0;
    }

}


#header {
    background-color: whitesmoke;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.row {
    display: -webkit-flex;
    display: flex;
}

#side {
    background-color: white;
    display: flex;

    flex-direction: row;
    width: -webkit-fill-available;
}

.column {
    padding: 10px;

}


.column.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


.footer {
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: -webkit-fill-available;
}


h1,
h3 {
    text-align: center;
    font-style: italic;
}

.text {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: center;
}

nav {
    float: left;
    width: 30%;
    height: auto;
    background: #ccc;
}

article {
    float: left;
    padding: 20px;
    width: 50%;
    height: auto;

}

ul {
    display: inline-grid;
}

#loc {
    display: none;
}

button {
    padding: 5px;
    margin: 5px;

}

.dropbtn,
button {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover,
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;

}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

@media screen and (max-width: 890px) {

    nav,
    article {
        width: 100%;
        text-align: center;
        max-width: -webkit-fill-available;
    }

    .dropdown,
    button {
        width: -webkit-fill-available;
    }

    #buttons {
        display: inline-grid;
        justify-content: center;
    }

    #bodyID {
        display: grid;
    }

   

}

@media screen and (max-width: 425px) {
    #LTop,
    #Lmiddle,
    #Rmiddle,
    #RTop {
        font-size: 9vw;
        
    }
}
