body {
    background-color: #D9EEE1;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    margin: 0;
}
#image-text{
    color: black!Important;
    
}
.fit-image{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
*{
    box-sizing: inherit;
}
a.weather {
    color: black;
    text-decoration: none;
}
#slideText {
    margin-top: 100px;
    color: black;
}
#bodyID {
    justify-content: center;
    align-items: center;
}
#intro {
    font-size: 1rem;
    transition: all 1s ease-in-out;
}
#intro.inview {
    font-size: 1.3rem;
}
#image-container {
    display: grid;
    position: relative;
    margin: 60px 0px 0px 0px;
}
.image-box {
    background-color: #E7E9EB;
    border-radius: 10px;
    padding: 10px;
    margin: 100px 100px 200px 100px;
    border: black;
    justify-self: center;
    box-shadow: -1px 1px 20px 20px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#dotslide{
    line-height: 3.5;
}
#dotslide{
    background-color: #FFF4A3!important;
}
.image-container-color-white {
    background-color: #D9EEE1;
    display: flex;
    
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.image-container-color-blue {
    background-color: #282A35;
    color: white!Important;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.image-container-color-yellow {
    background-color: #FFF4A3;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.image-container-color-lightblue {
    background-color: #96D4D4;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.image-container-description {
    padding: 10px;
  
}
.image-container-description > p {
    text-align: center;
    font-size: 19px;
}
.image-container-description > h1 {
    font-size: 60px;
    font-weight: 700;
   
}

.flexrow {
    flex-direction: row;
}
.flexreverse {
    flex-direction: row-reverse;
}
#center {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    background-color: #282A35;
    height: 400px;
}
.colorToggle {
    color: white;

    #wavepath{
        fill: rgb(13,23,33)!important;
    }
    
    #image-container > div,
    #center,
    #header,
    .footer,
    .row  {
        background-color: rgb(13,23,33)!important;
    }
    
    #darkmodeNav {
        background-color: #0f0f0f;
    }
    #colorButton,
    #messageButton,
    #locButton,
    #youtubeButton,
    a.icon,
    a.weather,
    #weatherButton {
        color: white;
    }
}
#colorButton,
#messageButton,
#locButton,
#youtubeButton,
#weatherButton {
    cursor: pointer;
}
#header {
    background-color: whitesmoke;
    padding: 60px 30px 30px 30px;
    text-align: center;
    font-size: 35px;
    width: -webkit-fill-available;
}
.row {
    background-color: skyblue;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
#side {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
}
.column {
    padding: 10px;
}
.column.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.footer {
    max-width: 100%;
    width: -webkit-fill-available;
    background-color: #282A35!Important;
    padding: 50px 0px 50px 0px;
    text-align: center;
    bottom: 0;
}
h1,
h3 {
    text-align: center;
    
}
#text {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
#footText{
    color: white;
}
h2 {
    text-align: center;
}
nav {
    float: left;
    width: 30%;
    height: auto;
    background: #ccc;
}
article {
    float: left;
    padding: 20px;
    width: 50%;
    height: auto;
}
ul {
    display: inline-grid;
}
#loc {
    display: none;
}
button {
    padding: 5px;
    margin: 5px;
}
#buttons {
    padding: 20px;
    margin: 5px;
    text-align: center;
    width: -webkit-fill-available;
}
.dropbtn,
button {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
button:hover,
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}
.dropdown {
    display: ruby;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: flex;
    flex-direction: column;
    position: fixed;
}
#visitCounter {
    display: none;
}
@keyframes anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.image-box.inview,
.image-container-color-dark.inview,
.image-container-color-light.inview {
    animation: anim 3s ease;
}
