
@media screen and (max-width: 1530px) {

    nav,
    article {
        width: 100%;
        text-align: center;
        max-width: -webkit-fill-available;
    }

    .dropdown,
    button {
        width: -webkit-fill-available;
    }

    #buttons {
        display: inline-grid;
        justify-content: center;
    }

    #bodyID {
        display: grid;
    }

    #box {
        font-size: xx-large;
        padding: 75px;
    }

   #slideshow-container{
    max-width: 100%;
    width: -webkit-fill-available;
   }

    #image-container{
    max-width: 100%;
   }

   .image-box{
    max-width: 100%;
   }

   img{
    max-width: 100%;
   }
    
}

@media screen and (max-width: 1200px) {
    #image-container,
    .image-container-color-dark,
    .image-container-color-light {
    background-color: skyblue;
    display: flex;
    position: relative;
    
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.image-box {
    background-color: gray;
    padding: 10px;
    margin: 100px 15px 100px 15px;
    border: black;
   
}
    
}

