@media screen and (max-width: 890px) {

    nav,
    article {
        width: 100%;
        text-align: center;
        max-width: -webkit-fill-available;
    }

    .dropdown,
    button {
        width: -webkit-fill-available;
    }

    #buttons {
        display: inline-grid;
        justify-content: center;
    }

    #bodyID {
        display: grid;
    }

    #box {
        font-size: xx-large;
        padding: 75px;
    }

   #slideshow-container{
       max-width: 100%;
       width: 100%;
   }

    #image-container{
    max-width: 100%;
   }

   .image-box{
    max-width: 100%;
   }

   img{
    max-width: 100%;
   }
    
}
