@media screen and (max-width: 890px) {

    nav,
    article {
        width: 100%;
        text-align: center;
        max-width: -webkit-fill-available;
    }

    .dropdown,
    button {
        width: -webkit-fill-available;
    }

    #buttons {
        display: inline-grid;
        justify-content: center;
    }

    #bodyID {
        display: grid;
    }

    #box {
        font-size: xx-large;
        padding: 75px;
    }

   #slideshow-container{
    max-width: 100%;
   }

    #image-container{
    max-width: 100%;
   }

   .image-box{
    max-width: 100%;
   }

   img{
    max-width: 100%;
   }
    
}

@media screen and (max-width: 890px) {
    #image-container {
    
    display: flex;
    position: relative;
    margin: 100px 0 100px 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.image-box {
    background-color: gray;
    padding: 10px;
    margin: 40px 15px 40px 15px;
    border: black;
    border-style: double;
    border-radius: 10px;
}
    
}
